body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.champCard {
  border-style: solid;
  width: 200px;
  margin: 10px;
  border-radius: 7px;
  padding-right: 7px;
  padding-left: 7px;
}

.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cardInfo {
  width: 100%;
  padding: 10px;
}

.cardHeader {
  font-size: 1.2rem;
  padding: 2px;
}

.cardFooter {
  font-size: 0.8rem;
  padding: 1px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-style: solid;
  background-color: lightcyan;
  justify-content: space-between;
}

.champImage {
  height: 100px;
  width: auto;
}

.masteryImage {
  height: 60px;
  width: auto;
}

.legalFooter {
  color: grey;
  font-size: .5rem;
}

.statsCard {
  border-style: solid;
  margin-bottom: 5px;
  padding: 7px;
  background-color: lightgrey;
  border-radius: 7px;
}

.progressWrapper {
  width: 70px;
}

.statsCardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

.showButton {
  align-self: flex-end;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-color: lightcyan;
  border-style: solid;
  border-color: lightcyan;
}

.showButton:focus { 
  outline: none;
}

.showButton:hover{
  border-style: dashed;
  border-color: lightgrey;
  border-radius: 3px;
}