body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.champCard {
  border-style: solid;
  width: 200px;
  margin: 10px;
  border-radius: 7px;
  padding-right: 7px;
  padding-left: 7px;
}

.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cardInfo {
  width: 100%;
  padding: 10px;
}

.cardHeader {
  font-size: 1.2rem;
  padding: 2px;
}

.cardFooter {
  font-size: 0.8rem;
  padding: 1px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 0.25;
  padding: 10px;
  border-style: solid;
  background-color: lightcyan;
  justify-content: space-between;
}

.champImage {
  height: 100px;
  width: auto;
}

.masteryImage {
  height: 60px;
  width: auto;
}

.legalFooter {
  color: grey;
  font-size: .5rem;
}

.statsCard {
  border-style: solid;
  margin: 10px;
  padding: 7px;
  background-color: lightgrey;
  border-radius: 7px;
  height: 131px;
}

.progressWrapper {
  width: 70px;
}

.statsCardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

.showButton {
  align-self: flex-end;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-color: lightcyan;
  border-style: solid;
  border-color: lightcyan;
}

.showButton:focus { 
  outline: none;
}

.showButton:hover{
  border-style: dashed;
  border-color: lightgrey;
  border-radius: 3px;
}

.infoTitle{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.infoIcon{
  margin-top: 5px;
  margin-left: 5px;
}

.toolTip{
  max-width: 250px;
  min-width: 160px;
  /* max-height: 100px; */
}

.header {
  height: 100px;
  background-color: whitesmoke;
  /* margin-bottom: 40px; */
}

.folder {
  text-align: center;
  background-color: #f1d592;
  border-top: solid;
  border-width: 1px;
  padding-bottom: 80px;
}

.tab {
  position: absolute;
  top: 80px;
  left: 0;
  /* background-color: red; */
  height: 16px;
  width: 17.9%;
  z-index: 1;
  padding-top: 3px;
  color: grey;
  /* border-top: solid;
  border-right: solid;
  border-left: solid; */
  /* transform: perspective(50px) rotateX(15deg); */
  
}

.tab:before{
    content: "";
    position: absolute;
    background-color: #f1d592;
    /* padding-top: 3px; */
    top: -4%; bottom: -11%; left: -3%; right: -3%;
    z-index: -1;
    border-radius: 2px;
    -webkit-transform: perspective(50px) rotateX(15deg);
    transform: perspective(50px) rotateX(15deg);
    border-top: solid;
    border-right: solid;
    border-left: solid;
    border-width: 1px;
}